{% extends "layout.html" %}
{% block body %}
<fieldset style="max-width:max-content">
  <legend>Display text</legend>
  <form method="get" action="./text">
    <label>Text:</label><br>
    <input type="text" name="text" {% if text %}value='{{ text }}'{% endif %}>
    <br>
    <br>
    <label>Color:</label>
    <br>
    <select name="color">
      {% if color %}
      <option value="{{ color }}" selected>{{ color }}</option>
      <option disabled>----</option>
      {% endif %}
      <option value="amber">amber</option>
      <option value="red">red</option>
      <option value="green">green</option>
      <option value="blue">blue</option>
      <option value="white">white</option>
      <option value="cyan">cyan</option>
      <option value="magenta">magenta</option>
      <option value="yellow">yellow</option>
    </select>
    <br>
    <br>
    <label>Brightness:</label>
    <br>
    <input type="range" name="brightness" min="0.01" max="1" step="0.01"
	   {% if bright %}value='{{ bright }}'{% endif %}>
    <br>
    <br>
    <input type="submit" value="Update Text">
  </form>
</fieldset>
<br>
<br>
<form method="get" action="./reset">
  <button type="submit">Clear the Screen</button>
</form>
<br>
<form method="get" action="./ip">
  <button type="submit">Display IP Address</button>
</form>
<br>
<br>
<form method="get" action="./lulz">
  <button type="submit">LOL Mode</button>
</form>
<br>
<form method="get" action="./illuminate">
  <button type="submit">Illuminate!</button>
</form>
<br>
<fieldset style="max-width:max-content">
  <legend>Auto sleep</legend>
  <p>
    Automatic sleep is {%if sched_alive%}<b>enabled</b>.<br>Every day the screen will automatically turn off at {{offhour}} and turn back on at {{onhour}}. You can still use the screen after it turns off{%else%}<b>disabled</b>{%endif%}.
  </p>
  <form method="get" action="./sched">
    <label>Enable</label>
    <input type="checkbox" name="enable" value="1" {% if sched_alive %}checked{% endif%}>
    <br>
    <small>
      Note, the hour must be in form of "HH:MM". The leading zero needs to be included. For example 8:00 needs to be 08:00.</small>
    <br>
    <label>On hour:</label>
    <input type="text" name="onhour" size="6" {%if onhour%}value="{{onhour}}"{%endif%}>
    <br>
    <label>Off hour:</label>
    <input type="text" name="offhour" size="6" {%if offhour%}value="{{offhour}}"{%endif%}>
    <br>
    <input type="submit" value="Update">
  </form>
</fieldset>
{% endblock %}
